.header {
/*   background-color: black; */
  padding-top: 1rem;
}

.header--light{
  background-color: white;
}

.header--dark {
   background-color: black; 
}
.title {
  text-align: center;
  color: rgb(196, 196, 196);
  font-size: var(--font-size-h1);
  cursor: pointer;
}

.container {
  float: right;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container > :not(:last-child) {
  margin-right: 1vw;
}
