.footer {
  padding: 1rem;
  border: 1px solid var(--color-border);
  background-color: black;
}

.copyright {
  color: white;
  text-align: center;
  font-size: var(--font-size-p);
}

.address {
  color: white;
  text-align: center;
  font-size: var(--font-size-p);
}