:root {
  /* Цвета фона */
  --color-main-bg: #f5f7f9;
  --color-section-bg: #ffffff;

  /* Цвета текста */
  --color-text-heading: #ffd105;
  --color-text-p: #ffd105;

  /* Цвета кнопок */
  --color-button-bg: #edf2f7f6;
  --color-button-text: #5e6137;
  --color-button-border: #0f6ed300;
  --color-button-disabled-bg: #e2e8f000;
  --color-button-disabled-text: #006eff;
  --color-button-disabled-border: #e2e8f000;

  /* Прочие цвета */
  --color-border: #e2e8f02c;
  --color-spinner: #718096;
  --color-scroll-progress: #ffd563;
  --color-star: #fbff00;

  /* Размеры шрифтов */
  --font-size-h1: 2rem;
  --font-size-h2: 1.75rem;
  --font-size-h3: 1.5rem;
  --font-size-h4: 1.25rem;
  --font-size-h5: 1.125rem;
  --font-size-p: 1rem;
  --font-size-button: 1rem;
  --font-size-star: 1.25rem;
}
